<div class="container-fluid d-flex flex-column min-vh-100">
  <div class="row align-items-center min-vh-100 h-100">
    <div class="col-2"></div>
    <div class="col-8 p-2 w-50 text-left aboutme-text dark-text--color">
      <h2 class="text-center">
        Who Am I?
      </h2>
      <br>
      <br>
      <p>
        I am Chad Walters, a Full Stack Developer currently based in NYC. I am specialized in the MEAN stack, but have a passion for learning other technologies as well. I have been programming for 1.5 years now and have learned more than I could have possibly imagined at the start of my journey with code. I am currently open to new opportunities to learn and grow in the field.
      </p>
      <br>
      <br>
      <div class="row justify-content-center">
        <a class="m-2 row text-center" href="https://www.linkedin.com/in/chad-walters-032435188/">
          <i class="fab fa-linkedin-in icon--size"></i>
        </a>
        <br>
        <a class="m-2 row text-center text-dark" href="https://github.com/CwickWalt">
          <i class="fab fa-github icon--size"></i>
        </a>
        <br>
        <a class="m-2 row text-center text-dark">
          <i class="material-icons icon--size">
            attach_file
          </i>
        </a>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>